@import url("./Colors.css");

.about {
  background-color: var(--neutral-2);
  /*clip-path: polygon(0 80px, 100% 0, 100% calc(100% - 80px), 0 100%);*/
  padding: 1.5rem 2rem 1.5rem 2rem;
  align-items: center;
  gap: 1rem;
}

.about-textbox {
  gap: 10px;
}

.about h2 {
  margin: 0;
  text-align: center;
}

.favorite-tools-container {
  background-color: var(--neutral-3);
  border-radius: 1rem;
  padding: 1rem;
}

/* Responsiveness: laptops, desktops */
@media (min-width: 992px) {
}

/* Responsiveness: tablets, phones */
@media (max-width: 992px) {
}
