body,
#root {
  margin: 0 auto;
  padding: 0;
  background-color: var(--neutral-1);
  background-image: linear-gradient(
    to bottom,
    var(--neutral-3) 0,
    var(--neutral-2) 10%,
    var(--neutral-1) 40%,
    var(--neutral-0) 100%
  );
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main {
  align-items: center;
  color: var(--neutral-7);
  flex-grow: 2;
  width: 100%;
}

.text-highlighted {
  color: var(--primary-4);
}

.text-lighter {
  color: var(--highlight-8); /* ??? */
}

.text-hoverable-indicator {
  border: dashed var(--highlight-3);
  border-width: 0px 0px 2px 0px;
}

.profile-image {
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: var(--primary-5);
  background-image: url("/assets/images/profile-cropped.png"),
    linear-gradient(340deg, var(--primary-7) 0, var(--primary-5) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid var(--neutral-7);
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/

/* Responsiveness: shared */
.shared-col-1 {
  width: 100%;
}

h1 {
  font-size: xxx-large;
  text-align: center;
}

h2 {
  font-size: xx-large;
  font-weight: 500;
  text-align: center;
}

p {
  text-align: justify;
  margin: 0;
}

.no-transition {
  transition: none !important;
}

/* Responsiveness: large screens */
@media (min-width: 1200px) {
  .xlarge-col-3 {
    width: calc(100% / 3);
  }

  .xlarge-col-075 {
    width: calc((100% / 4) * 3);
  }

  .xlarge-col-025 {
    width: calc(100% / 4);
  }

  .xlarge-main {
    padding: 0 0 0 calc(100vw / 12 * 0.9);
  }
}

/* Responsiveness: laptops/desktops */
@media (max-width: 1200px) {
  .large-col-3 {
    width: calc(100% / 3);
  }

  .large-col-1 {
    width: 100%;
  }

  .large-main {
    padding: 0 0 0 calc(100vw / 12 * 0.9);
  }
}

/* Responsiveness: Tablets */
@media (max-width: 992px) {
  .medium-col-2 {
    width: calc(100% / 2);
  }

  .medium-col-1 {
    width: 100%;
  }

  .medium-col-075 {
    width: calc(100% / 4 * 3);
  }

  .medium-col-025 {
    width: calc(100% / 4);
  }

  .medium-main {
    /* padding: calc(100vh / 12 * 1.5) 0 0 0; */
    padding: 0 0 0 0;
  }
}

/* Responsiveness: large phones */
@media (max-width: 768px) {
  .small-col-1 {
    width: 100%;
  }
}

/* Responsiveness: small phones */
@media (max-width: 600px) {
  .xsmall-col-1 {
    width: 100%;
  }

  h2 {
    font-size: x-large;
  }
}
