body,
#root {
  margin: 0 auto;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.center-aligned {
  align-items: center;
}

.main-vertical {
  height: 100vh;
  box-sizing: border-box;
}

.main {
  background-color: var(--primary-color);
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.text-highlighted {
  color: var(--primary-highlight);
}

.text-lighter {
  color: var(--primary-text-lighter);
}

.text-hoverable-indicator {
  border: dashed var(--primary-highlight);
  border-width: 0px 0px 2px 0px;
}

/* Section Divider */

.section-divider {
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-size: 1.5em;
}

.section-divider::before,
.section-divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: var(--secondary-color);
  margin: 0 10px;
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/
