:root {
  --primary-highlight: #ff3b3f;
  --secondary-highlight: #caebf2;
  --primary-color: #efefef;
  --secondary-color: #a9a9a9;
  --tertiary-color: #ffffff;
  --shadow: #2f2f2f;
  --primary-text: #878787;
  --primary-text-lighter: #acacac;
  --primary-color-dark: #e0e0e0;
  --secondary-color-light: #c3c3c3;
  --temp: #d9d9d9;
}