:root {
  --primary-highlight: #ff3b3f;
  --tertiary-color: #ffffff;
  --primary-color: #efefef;
  --secondary-color: #a9a9a9;
  --secondary-highlight: #caebf2;
  --shadow: #2f2f2f;
  --color-transparent: #ffffff00;
  --primary-text: #878787;
}