#home {
  width: 100%;
  height: calc(100vh - 48px);
}

.home-intro-container {
  padding: 150px 0 0 75px;
  color: var(--secondary-color);
  font-family: "Poppins";
  background-image: url("src/assets/mitch_face.png");
  background-repeat: no-repeat;
  background-position: right 75px bottom 150px;
  background-color: #caebf2;
}

.home-text-upper {
  font-size: 3em;
  margin: 0;
}

.home-text-middle {
  font-weight: 500;
  font-size: 4.5em;
  color: var(--primary-highlight);
  margin: 0;
}

.home-text-lower {
  font-size: 3em;
  margin: 0;
}

.speaker-button {
  height: 3.6em;
  margin: 0 0 0 12px;
}

.speaker-button:hover {
  filter: brightness(0.92);
  cursor: pointer;
}
