#home {
  width: 100%;
}

.home-intro-container {
  padding: 150px 0 100px 75px;
  color: var(--secondary-color);
  font-family: "Poppins";
  background-color: var(--primary-color);
  min-height: calc(100vh - 250px);
  /*clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), 0 100%);*/
  border: 1px rgb(210, 210, 210) dashed;
}

.home-text-container {
}

.home-text-upper {
  font-size: 3em;
  margin: 0;
}

.home-text-middle {
  font-weight: 500;
  font-size: 4.5em;
  color: var(--primary-highlight);
  margin: 0;
}

.home-text-lower {
  font-size: 3em;
  margin: 0;
}

.speaker-button {
  height: 3.6em;
  margin: 0 0 0 12px;
}

.speaker-button:hover {
  filter: brightness(0.92);
  cursor: pointer;
}
