@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Yomogi&display=swap');

body {
    margin: 0 auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  box-sizing: border-box;

  --primary-highlight: #ff3b3f;
  --tertiary-color: #ffffff;
  --primary-color: #efefef;
  --secondary-color: #a9a9a9;
  --secondary-highlight: #caebf2;
  --shadow: #2f2f2f;
  --color-transparent: #ffffff00;
  --primary-text: #878787;
}

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

.column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.vertical-container {

}

.main {

}

/*
Main page - sides general
*/

.main-vertical {
    height: 100vh;
    box-sizing: border-box;
}

/* Main page - left SIDE */ 
.side {
    font-family: "Yomogi";
    background-color: var(--tertiary-color);
    max-width: 400px;
    z-index: 10;
}

.side-masked-border {
    padding: 0 30px 0 0;
    -webkit-mask: conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 50%/100% 60px;
    mask: conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 50%/100% 60px;
}

.side .column {
    
}

.side-copyright {
    color: var(--secondary-color);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.copyright-symbol {
}

/* SIDE - list */
ul {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-left: -40px;
    margin-bottom: 100px;
}

.side-menu-item {
    color: var(--primary-text);
    cursor: pointer;
    font-size: 2em;
    margin: 0px 10px 10px 10px;
    border: solid var(--secondary-color);
    border-width: 0;
    width: fit-content;
}

.side-menu-item a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    margin-left: 50%;
    background: var(--primary-highlight);
    transition: width 0.3s ease 0s, margin-left 0.3s ease 0s;
    width: 0;
}

.side-menu-item a:hover:after { 
    width: 100%; 
    margin-left: 0%;
  }

/* SIDE - photo */
.side-photo-border img {
    width: auto;
    height: 300px;
    background-color: var(--primary-color);
    background-image: radial-gradient(var(--shadow) 5%, var(--shadow) 90%, var(--secondary-color) 100%);
}

.side-photo-border {
    mask: url("src/assets/mask_splash.svg") center;
	-webkit-mask: url("src/assets/mask_splash.svg") center;
    mask-repeat: no-repeat;
    mask-size: 90%;
    flex-grow: 0;
}

/* SIDE - name / header */

.side-name-container {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
}

.side-name-textbox {
    margin-top: 20px;
    text-align: left;
}

.side-name-text {
    word-wrap: normal;
    color: var(--secondary-color);
    font-size: 5em;
    margin: 0;
}

.side-name-text-colored {
    color: var(--primary-highlight);
}

/*
Main page - right side
*/
.main-side-right {
    background-color: var(--primary-color);
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.horizontal-container {
    border: var(--primary-highlight) solid 4px;
    box-shadow: 15px 18px 0 0 var(--secondary-color);
    background-color: var(--tertiary-color);
    height: 90%;
    max-height: 600px;
    margin: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal-container p {
    color: var(--secondary-color);
    font-size: 30px
}