.navbar {
  font-family: "Poppins";
  height: 100%;
  position: fixed;
  z-index: 10;
  box-shadow: var(--neutral-2) 2px 0 3px 0;
  align-items: center;
  padding: 0.4rem 0 0 0;
}

.menu-button {
  background-color: var(--neutral-1);
  border-radius: 20px;
  transition: 0.4s;
  cursor: pointer;
  align-items: center;
  padding: 10px 15px 10px 15px;
  aspect-ratio: 1/1;
}

.menu-button + .menu-button {
  margin: 5px 0 0 0;
}

.menu-button:hover {
  filter: brightness(0.9);
}

.menu-button img {
  width: 40px;
}

.navbar-wrapper {
  transition: 0.7s;
  overflow: hidden;
  background-color: var(--neutral-1);
  border: 1px solid var(--neutral-2);
  min-height: 84px;
  border-radius: 20px;
  padding: 5px;
  flex-wrap: nowrap;
}

.navbar .profile-image {
  margin: 0.5rem 0 0.5rem 0;
}

/* Responsiveness: laptops, desktops */
@media (min-width: 992px) {
  .large-navbar {
    width: calc(100vw / 12 * 0.9);
    height: 100%;
    background-color: var(--neutral-1);
  }

  .navbar-button {
    display: none;
  }

  .navbar-wrapper {
    border: none;
  }

  .hamburger-button {
    display: none;
  }

  .navbar-wrapper {
    margin: 0;
  }

  .menu-button img {
    width: 35px;
  }
}

/* Responsiveness: tablets, phones */
@media (max-width: 992px) {
  .medium-small-navbar {
    right: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .medium-small-navbar .profile-image {
    display: none;
  }

  .navbar-button {
    display: flex;
  }

  .navbar-wrapper {
    margin: 10px;
  }
  /* Mozilla Fix */
  .menu-button{
    width: 70px;
    height: 70px;
  }
}
