.navbar-container {
  font-family: "Poppins";
  height: 100%;
  width: calc(100vw / 12 * 2.5);
  align-items: center;
  position: fixed;
  border: solid var(--neutral-2);
  border-width: 0 1px 0 0;
  background-color: var(--neutral-1);
  padding: 2rem 0 1.5rem 0;
  gap: 3rem;
}

/*
.side-masked-border {
    padding: 0 30px 0 0;
    -webkit-mask: conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 50%/100% 60px;
    mask: conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 50%/100% 60px;
}
*/

/*
.side-copyright {
  color: var(--secondary-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
*/

/* SIDE - list */
.side-menu-list {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 100%;
}

.side-menu-item {
  color: var(--neutral-7);
  cursor: pointer;
  font-size: 1.5em;
  padding: 0.5rem 0 0.5rem 0;
  width: fit-content;
  cursor: pointer;
  float: left;
  background-color: transparent;
  width: 100%;
  text-align: center;
}

.side-menu-item + .side-menu-item {
  border: solid var(--neutral-2);
  border-width: 1px 0 0 0;
}

.side-menu-item a:after {
  background: none repeat scroll 0 0 var(--primary-4);
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  margin-left: 50%;
  transition: width 0.3s ease 0s, margin-left 0.3s ease 0s;
  width: 0;
}

.side-menu-item a:hover:after {
  width: 100%;
  margin-left: 0%;
}

.side-image-container {
  height: 12rem;
  width: 12rem;
  border-radius: 10rem;
  background-color: var(--primary-5);
  box-sizing: border-box;
  background-image: url("/assets/images/profile-cropped.png"),
    linear-gradient(340deg, var(--primary-7) 0, var(--primary-5) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid var(--neutral-7);
}

/* SIDE - header (initials)

.side-logo-container {
  margin: 0;
}

.side-logo-text {
  color: var(--neutral-7);
  font-size: 2.3em;
  margin: 0 0 3px 0;
  font-family: "Yomogi";
}
*/
