.portfolio-container {
  justify-items: center;
  /*
  background: linear-gradient(
    to bottom,
    var(--primary-2),
    var(--primary-2) 10%,
    transparent 10%,
    transparent 100%
  );
  background-size: 100% 90px;
  */
  /*clip-path: polygon(0 80px, 100% 0, 100% 100%, 0 100%);*/
}

.portfolio-container h1 {
  font-size: 4rem;
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 4rem 0 4rem;
  gap: 1rem;
  row-gap: 1rem;
  width: 85rem;
}

.project-card-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  width: 25rem;
  height: 25rem;
}

.project-card {
  background-color: var(--primary-4-op60);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: 0.25s;
  padding: 0.5rem;
  color: var(--neutral-8);
}

.project-card:hover {
  background-color: var(--primary-4-op90);
}

.project-card h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.project-card p {
  flex-grow: 2;
  text-justify: newspaper;
}

.tools-row {
  justify-content: end;
  gap: 0.2rem;
}

.tool-container {
  height: 3.5rem;
  filter: ;
}

.tool-image {
  height: 100%;
}
