.portfolio {
  justify-items: center;
  margin: 1rem 0 0 0;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem 0 1rem;
}

.project-card-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 1rem;
  aspect-ratio: 1 / 1;
}

.project-card {
  height: 100%;
  background-color: var(--primary-4-op60);
  transition: 0.25s;
  padding: 0.5rem;
  color: var(--neutral-8);
  flex-wrap: nowrap;
}

.project-card:hover {
  background-color: var(--primary-4-op90);
}

.project-card h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.project-card p {
  flex-grow: 2;
  text-justify: newspaper;
}

.tools-row {
  justify-content: end;
  gap: 0.2rem;
}

.tool-container {
  height: 3.5rem;
}

.tool-image {
  height: 100%;
}

/* Responsiveness: laptops/desktops */
@media (min-width: 992px) {
}

/* Responsiveness: tablets */
@media (min-width: 768px) {
}
